{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "jasmine": true,
    "jest": true,
    "node": true
  },
  "globals": {
    "Map": true,
    "Qt": true,
    "qsTr": true,
    "__window__": true,
    "__settings__": true,
    "__DEV__": true,
    "Promise": true,
    "React": true,
    "React$Element": true,
    "React$Component": true,
    "SyntheticClipboardEvent": true,
    "SyntheticCompositionEvent": true,
    "SyntheticDragEvent": true,
    "SyntheticEvent": true,
    "SyntheticFocusEvent": true,
    "SyntheticInputEvent": true,
    "SyntheticKeyboardEvent": true,
    "SyntheticMouseEvent": true,
    "SyntheticTouchEvent": true,
    "SyntheticUIEvent": true,
    "SyntheticWheelEvent": true
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-var": 2,
    "prefer-const": 2,
    "no-undef": 2,
    "no-unused-vars": 2,
    "no-console": 1,
    "new-cap": 1,
    "strict": 0,
    "comma-dangle": ["error", {
      "objects": "always-multiline",
      "arrays": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore",
    }],
    "flowtype/define-flow-type": 1
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
